:root{
    --textColor: #d1e8fa;
    --backgroundColor: #051c2e;
    --transBackgroundColor: #051c2eaa;
    --primaryColor: #9fa3f4;
    --secondaryColor: #100420;
    --accentColor: #6e19d7;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.bSpin {
    animation: spin 10s linear infinite;
    cursor: pointer;
}
body{
    background-color: var(--backgroundColor);
    background-image: url("https://cdn.wallpapersafari.com/2/74/3Iqw2l.gif");
    
    text-align: center;
}

/* HEADER */
header{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;

    background-color: var(--transBackgroundColor);
}
#logo{
    padding: 1rem;
    margin: 0 1rem;
    width: 10rem;

    border-radius: 6rem;
}
nav{
    flex: 1;
}
li.nav{
    display: inline-block;
    list-style: none;
    /* vertical-align: middle; */
    
    font-family: 'Nothing You Could Do';
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
}
li.nav a{
    text-decoration: overline;
    color: var(--textColor);
}
#icon{
    width: 5rem;
    padding: 0.5rem;
    background-color: var(--primaryColor);

    border-radius: 6rem;
    opacity: 0.5;
}
/* FIN HEADER */

/* MAIN */
/* BANNER */
div.banner{
    border: solid;
    padding: 3rem;

    font-family: 'Pixelify Sans';
    text-align: justify;
}
div.banner h2{
    background-color: var(--secondaryColor);
    color: var(--textColor);

    padding: 1rem;
    font-size: 5rem;

    text-transform: uppercase;
}
div.banner p{
    padding: 1rem;  
    font-size: 1.5rem;  

    background-color: var(--transBackgroundColor);
    color: var(--textColor);
}
/* FIN BANNER */
/* PROJCTS */
#projects{
    /* background-color: var(--transBackgroundColor); */
    font-family: 'Pixelify Sans';
    padding: 1rem;
}
li.projects{
    list-style: none;
    border: solid var(--primaryColor);

    padding: 1rem;
    margin: 2rem 0;

    background-color: var(--secondaryColor);
    color: var(--textColor);
}

li.projects h2{
    font-style: italic;
    user-select: none;
}

li.projects a{
    color: var(--primaryColor);
    font-size: 3rem;
    
    line-height: 10rem;
}
/* FIN PROJECTS */

/* CONTACTME */
#contactMe{
    background-color: black;
    font-family: 'Nothing You Could Do';
}
#contactMe img{
    width: 29vw;
    vertical-align: top;

    display: inline-block;
    padding: 2rem 0 ;
    /* margin: 2rem 0 0 0; */
}
div.textMe{
    width: 60vw;

    display: inline-block;

    font-size: 1.5rem;
    color: var(--textColor);

    padding: 2rem;
}
#contactMe button{
    font-family: 'Pixelify Sans';
    text-transform: uppercase;
    font-size: 4rem;

    margin: 2rem 0;

    border-radius: 3rem;

    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}
#contactMe button:hover{
    font-size: 4.3rem;
    color: var(--accentColor);
    background-color: var(--transBackgroundColor);
    border-color: var(--accentColor);
    cursor: pointer;
}

/* FIN CONTACTME */
/* FIN MAIN */

/* FOOTER */
footer{
    /* border: solid; */
    /* border: solid white;
    background-color: darkblue; */
    margin: -3rem auto;

    display: inline-block;
  }
  
  footer img{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--accentColor);

    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

    padding: 0.3rem;
  }
  /* FIN FOOTER */

