* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;

}

:root {
    --home-dark: #000011;
    --home-bg: #222831;
    --home-primary: #393E46;
    --home-accent: #40A2D8;
    --home-color: #EEEDEB;
}

body {
    font-family: "The Girl Next Door", cursive;
    background-image: url("../img/bgStars.gif");
}

main {
    position: relative;
}
h2.titulo{
    font-size: 3rem;
    color: var(--home-color);
    padding: 3rem 2rem;
}
.content{
    display: none;
    padding: 0.8rem 0 0 0.8rem;
}
h2.titulo{
    font-family: "Pixelify Sans", sans-serif;

}
@media(width<=768px){
    .content{
        display: block;
    }
}

.active-content{
    animation: contentTrans  1s ease-in-out;
}
@keyframes contentTrans {
    0%{
        transform: translate3d(100%,0,0) scale(1);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
/* -------------#home  */
#home.active-content {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    display: block;
    position: relative;

    padding: 1rem 3rem 1rem 2rem;
    color: var(--home-color);
}

/* ----fin contenedor padre  */
#home .img {
    position: absolute;

    display: block;
    background-color: gray;

    width: 10rem;
    opacity: 0.7;

}

#home img:nth-child(3) {
    background-color: transparent;

    left: 0;
    border-radius: 5rem;

    animation: spaceFloating 10s -2s infinite;
}

@keyframes spaceFloating {
    0% {
        scale: 0;
    }

    30% {
        top: 5rem;
        left: -6rem;
        scale: 0.1;
    }

    50% {
        top: 18rem;
        left: 0rem;
        scale: 1;

    }

    100% {
        top: 23rem;
        left: -17rem;
        scale: 1.8;
        transform: rotateZ(80deg);

    }
}

#home img:nth-child(4) {
    background-color: transparent;
    right: 5rem;
    bottom: -9rem;
    transform: rotateY(180deg);
    z-index: 1;
    animation: lookOut
 3s 1 forwards 3s;
}

@keyframes lookOut {

    10% {
        bottom: -12rem;
    }

    38% {
        bottom: -3.4rem;
    }


    39% {
        transform: rotateY(179deg);
    }

    40% {
        transform: rotateY(0deg);
        bottom: -3.4rem;
    }

    59% {
        transform: rotateY(1deg);
        bottom: -3.4rem;
    }

    60% {
        transform: rotateY(180deg);

    }

    71% {
        transform: rotateY(179deg);
    }

    72% {
        transform: rotateY(0deg);
        bottom: -3.4rem;

    }

    79% {
        transform: rotateY(1deg);
        bottom: -3.4rem;

    }

    80% {}


    99% {
        bottom: -14rem;
    }

    100% {
        bottom: -15rem;
        transform: rotateY(1deg);
    }


}

#home h1{
    font-size: 2rem;
}
#home h1 em{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 5rem;
}

div.hero {
    padding: 2rem 1rem;
    background-image: linear-gradient(to right top, #0a4d6811, #0b688511, #05bfdb33);
    position: relative;
    
    /* z-index: 1; */
}

div.hero p {
    font-size: 2rem;
}

/* ------------FIN #home  */




/* ----------------#projects  */
#projects.active-content {
    width: 100%;
    min-height: 100vh;
    display: block;
}
ul.cards-container{
    min-height: 80vh;

    display: flex;
    flex-flow: wrap row;
    gap: 2rem;
    padding: 1rem;
    align-items: center;

    list-style: none;
}
.card a{
    text-decoration: none;
}

ul.cards-container .card{
    height: 16rem;
    flex: 1 0 16rem;
    animation: carta 6s ease-in-out alternate infinite;

    position: relative;

    overflow: hidden;

    text-align: center;

    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul.cards-container .card:hover{
    animation: none;
}

.card::after{
    content: "";
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease;

    opacity: 0.8;

    /* display: none; */
}
.card:nth-child(1)::after{
    background-image: url("../img/piano-keyboard.png");
}
.card:nth-child(2)::after{
    background-image: url("../img/calculator.png");
}
.card:nth-child(3)::after{
    background-image: url("../img/checklist.png");
}
.card:nth-child(4)::after{
    background-image: url("../img/rock.png");
}
.card:hover::after{
    transform: translate3d(0,-16rem,0);
    opacity: 0;
}

.card .card-title *{
    font-size: 3rem;
}
.card .card-text *{
    color: purple;
    font-size: 3rem;
    font-family: "Pixelify Sans", sans-serif;
}

.card div.card-title,.card div.card-text{
    color: var(--home-color);
    display: none;
}

.card:hover.card div.card-title,.card:hover.card div.card-text{
    display: block;
}


@keyframes carta {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,1);
		transform: translatey(0px) ;
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.5);
		transform: translatey(-1rem) translateX(-1rem);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,1);
		transform: translatey(-1px) translateX(0rem);
	}
}

li.card:nth-child(1){
    animation-delay: 1.3s;
}
li.card:nth-child(3){
    animation-delay: 0.8s;
}
li.card:last-child{
    animation-delay: 0.2s;    
}

/* ----fin #projects  */



/* ------------------#about  */
#about.active-content {
    width: 100%;
    min-height: 100vh;
    display: block;
    position: relative;
    line-height: 2rem;
}
#about.active-content h2{
    color: var(--home-color);
}

div.timeline-container{
    color: var(--home-color);
    display: flex;
    flex-flow: wrap row;
}
div.timeline *{
    font-family: "The Girl Next Door", cursive;
}
div.timeline{
    flex: 1 1 22rem;

    padding: 1rem;

    overflow: hidden;
}
div.timeline>h3{
    text-align: center;
    color: purple;
    font-size: 2rem;
    font-family: "Pixelify Sans", sans-serif;

}

div.timeline-card h3{
    color: var(--home-accent);
    font-size: 2rem;
    font-weight: 10;
}

.timeline-cards{
    border-left: 5px solid var(--home-accent);
    border-radius: 1rem;
    padding: 2rem;
}

.timeline-card{
    position: relative;
    animation: presentTimeline 5s forwards;
    margin: 1.5rem 0;
}

.timeline-card p{
    font-size: 1.5rem;
}
abbr{
    font-size: 2rem;
}

.timeline-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: -2.6rem;
    width: 16px;
    height: 16px;
    background: #0ef;
    border-radius: 50%;
}
ul.exp li{
    padding: 0 1rem 0 2rem;
    font-size: 2rem;
    list-style: none;
    margin: 1rem 0;
}

@keyframes presentTimeline {
    from{
        transform: translate3d(0,calc(400%),0);

    }
    to{
        transform: translate3d(0,0,0);
    }
}


/* INICIO CONTACTO  */
#contact.active-content {
    width: 100%;
    min-height: 100vh;
    display: block;
    position: relative;
    line-height: 2rem;
}

.form-container{
    display: flex;
    flex-flow: wrap column;
    color: var(--home-color);
    position: relative;
    background-color: #01060d97;
    border-radius: 3rem;
    overflow: auto;
}
.form-container video{

    border-radius: 3rem;

    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    transform: scale(0.5);
    transition: transform 1s ease;
}
.form-container:hover video{
    transform: scale(1);
}
div.form-banner{
    position: relative;
    overflow: hidden;
    padding: 4rem 3rem;
}
div.form-banner ul{
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    grid-template-areas: 
    "n m"
    "t m"
    "p m";
}
div.form-banner ul li:nth-child(1){
    grid-area: n;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}
div.form-banner ul li:nth-child(1) em{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2.1rem;
}
div.form-banner ul li:nth-child(2){
    grid-area: t;
    font-size: 2rem;
}

div.form-banner ul li:nth-child(3){
    grid-area: p;

}
div.form-banner ul li:nth-child(3) *{
    font-size: 2rem;
}

div.form-banner ul li:nth-child(4){
    grid-area: m;
}

@media(width<=768px){
    div.form-banner ul{
        list-style: none;
        display: grid;
        grid-template-areas: 
        "n"
        "t"
        "p"
        "m";
    }
}


/* ------inicio form  */
.form-container form{
    padding: 1rem 2rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
    ". label correo correo"
    "mnsj mnsj mnsj mnsj"
    "btn . . .";
}
.form-hidden{
    display: none;
}
form label{
    grid-area: label;
}
#email{
    grid-area: correo;
    border-radius: 2rem;
    padding: 0.5rem;
}
#message{
    grid-area: mnsj;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.389);
    color: var(--home-color);
}
.form-container form button{
    grid-area: btn;
    background: rgba(238, 237, 235, 0.947);
    color: var(--home-dark);
    padding: 0.2rem;
    border-radius: 1rem;
    transition: all .5s ease;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
}
.form-container form button:hover{
    scale: 1.1;
    background: var(--home-dark);
    color: rgba(238, 237, 235, 0.947);
}


/* ------INICIO #control  */
#control{
    display: none;
    position: fixed;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    background-color: purple;
    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
    overflow: hidden;
}
.control-btn{
    padding: 0.6rem 0.2rem;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}
.active-btn{
    background-color: #40a3d889;

    transition: all .5s ease;
}
@media(width>=769px){
    #control{
        display: block;
    }
    .content{
        display: none;
        padding: 1rem 3rem 1rem 2rem;
    }
}