/* 
        EJEMPLO DE RESPONSIVE POR RESOLUCION

@media only screen and (min-resolution: 300dpi) {
  .gallery-item .thumbnail{
    width:95%;
  }

        EJEMPLO DE RESPONSIVE POR TAMAÑO

@media only screen and (min-width:320px) and (max-width:480px){
  .gallery-item .thumbnail{
    width:95%;
  }

        OPERADOR OR

@media only screen and () , (){
  .gallery-item .thumbnail{
    width:95%;
} 

*/

/* UNIVERSALES    */
* {
    font-size: 16px;
    box-sizing: border-box;
  
    margin: 0;
    padding: 0;
  
    font-family: sans-serif;
  }
  
  :root {
    --main-color: #75f0ec;
    --accent-color: #16cac4;
    --second-color: #f7b6b8;
    --text-color: #081111;
    --background-color: #fad1d2;
  }
  
  body {
    background-color: var(--background-color);
  }
  
  main {
    border: solid;
  }
  
  h1{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
  }
  /* ----------PANTALLA */
  h2 {
    background-color: var(--main-color);
    letter-spacing: 0.5rem;
    
    border: dotted;
  
    padding: 0.5rem;
  }
  
  /* ----------NUMEROS */
  div.nums ul{
    text-align: center;
    list-style: none;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 32rem;
  
    margin: 0.5rem auto;
  }
  
  li.number{
    flex: 0 0 10rem;
    height: 3rem;
  
    margin: 0.1rem;
    border: solid;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  
  /* ----------OPERA */
  div.opera ul{
    text-align: center;
    list-style: none;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
    width: 32rem;
    margin: 0 auto;
  }
  
  li.opc{
    flex: 0 0 10rem;
    height: 2rem;
  
    margin: 0.1rem;
    border: solid;
    font-size: 1.5rem; 
  }
  
  #clear,#result{
    flex: 0 0 10rem;
    height: 2rem;
  
    margin: 0.1rem;
    border: solid;
    font-size: 1.5rem; 
  }