* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --text-color: #e4eaec;
  --bg-color: #070b0d;
  --main-color: #94c1d2;
  --secondary-color: #296c87;
  --accent-color: #2f4205;
  --third-color: #36a8d5;
  --transparent-bg: #94c3d2c1;
}

@media screen and (max-width: 425px) {
  header {
      background-color: black;
  }
}

/* ANIMACIONES----------- */
@keyframes animate-stroke {
  0% {
      fill: transparent;
      stroke: black;
      stroke-width: 3rem;

      stroke-dashoffset: 25%;
      /*espaciado entre las lineas del perimetro */
      stroke-dasharray: 0 35%;
      /*que tanto se unen las lineas del perimetro*/
  }

  50% {
      stroke-width: 2;
  }

  80% {
      stroke-dashoffset: -25%;
      stroke-dasharray: 32% 0;
      stroke: navy;
  }

  100% {
      stroke-width: 0rem;
  }
}

/* FIN ANIMACIONES */
header {
  background-color: aquamarine;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header a {
  text-decoration: none;
}

#logo {
  width: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
}

svg {
  width: 15rem;
  height: 3rem;
}

svg text {
  font-size: 3rem;
  font-family: 'Pixelify Sans';
  font-weight: bolder;
  fill: navy;

  animation: 1s 1 animate-stroke;
}

body {
  background-color: var(--bg-color);
  font-family: "Pixelify Sans";
}

main {
  text-align: center;
  background-color: var(--main-color);
}

h1 {
  text-align: right;
}

section.calculadora {
  font-family: verdana, sans-serif;
  display: grid;

  grid-template-areas:
      "screen screen"
      "opera nums";

  justify-content: center;
}
@media (min-width: 320px) and (max-width:425px){
  section.calculadora {
      grid-template-areas:
      "screen screen"
      "nums  opera";
  }
  div.opera{
      align-self: center;
  }
  div.opera *{
      font-size: 2rem;
  }
}
@media (min-width: 426px) and (max-width:768px) {
  section.calculadora {
      grid-template-areas:
      "screen screen"
      "opera opera"
      "nums  nums";
  }
  div.opera *{
      display: flex;
      justify-content: center;
      flex: 1 0 2rem;
      font-size: 2rem;
  }
}

div.screen {
  grid-area: screen;
}
#inputs{
  border: dotted var(--accent-color);
}
h2 {
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

ul {
  list-style: none;
}

div.nums {
  border: solid;
  background-color: var(--secondary-color);
  border-radius: 1rem;

  grid-area: nums;
}

li.number {
  display: inline-block;
  padding: 1rem;
  margin: 0.3rem;
  font-size: 2rem;
  width: 25%;

  background-color: var(--main-color);
  border: solid var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: 1px -1px var(--secondary-color);
  user-select: none;
}

li.number:hover {
  box-shadow: 1px 0 var(--bg-color);
  background-color: var(--transparent-bg);
}

div.opera {
  border: solid;
  background-color: var(--secondary-color);
  border-radius: 2rem;

  grid-area: opera;
  overflow: hidden;
}

li.opc {
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: var(--main-color);
  border: solid var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: 1px -1px var(--secondary-color);
  user-select: none;
}

li.opc:hover {
  box-shadow: 1px 0 var(--bg-color);
  background-color: var(--transparent-bg);
}

#result,
#clear {
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: var(--third-color);
  border: solid var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: 1px -1px var(--secondary-color);
  user-select: none;
}

#result:hover,
#clear:hover {
  box-shadow: 1px 0 var(--bg-color);
  background-color: var(--transparent-bg);
}